<h1>Listing travellers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Travelling from</th>
      <th>Travelling to</th>
      <th>Travel date</th>
      <th>Conditions</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @travellers.each do |traveller| %>
      <tr>
        <td><%= traveller.name %></td>
        <td><%= traveller.phone_number %></td>
        <td><%= traveller.email %></td>
        <td><%= traveller.address %></td>
        <td><%= traveller.travelling_from %></td>
        <td><%= traveller.travelling_to %></td>
        <td><%= traveller.travel_date %></td>
        <td><%= traveller.conditions %></td>
        <td><%= link_to 'Show', traveller %></td>
        <td><%= link_to 'Edit', edit_traveller_path(traveller) %></td>
        <td><%= link_to 'Destroy', traveller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Traveller', new_traveller_path %>
